.scroll-down-button {
    position: absolute;
    bottom: 5rem;
    left: 95%;
    transform: translateX(-50%);
    color: rgba(253, 253, 253, 0.731);
  }
  .scroll-down-button:hover{
    cursor: pointer;
    color: #0265B6;
  }

  