/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display|Fjalla+One|Poppins:300,400,500,600,700,900&subset=latin-ext'); */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed&display=swap');


.btn-close:focus{
	box-shadow: none;
}

.head {
	text-align: center;
	position:relative;
    padding-top: 5rem;
  }

.Title {
	color: white;
	text-align: center;
	position:relative;
	z-index: 8;
	font-family: 'IBM Plex Sans Condensed';
	font-size: 50px;
	font-weight: 900;
	mix-blend-mode: difference;	
    letter-spacing: 15px;
  }

.nav-pills .nav-link {
    border: 1.5px solid var(--primary-blue);
    background: black;
    color: white;
    border-radius: 4px;
}


.nav-pills .active {
    background: var(--primary-blue) !important; 
    color: white !important;
}
