/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display|Fjalla+One|Poppins:300,400,500,600,700,900&subset=latin-ext'); */

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather&family=Open+Sans:wght@400;500&display=swap');


.btn-close:focus{
	box-shadow: none;
}

.head {
	text-align: center;
	position:relative;
    padding-top: 5rem;
  }

.Title {
	text-align: center;
	position:relative;
	z-index: 8;
  font-family: 'Kaushan Script', cursive;
	font-size: 3.5rem;
	font-weight: 900;
	/* mix-blend-mode: difference;	 */
    /* letter-spacing: 15px; */
  }

.nav-pills .nav-link {
    border: 1.5px solid var(--primary-blue);
    background: black;
    color: white;
    border-radius: 4px;
    font-weight: 700;
}


.nav-pills .active {
  background: linear-gradient(to right, #006fc2,#00317a)!important; 
    color: white !important;
}
