@media (max-width: 575px){
    .wid{
        width: 100%;
        margin: auto;
        text-align: center;
    }
}
a{
    cursor: pointer;
    transition: all .3s ease-in-out;
}
a:hover {
    -webkit-transform: translateY(-2.5px);
    transform: translateY(-2.5px);
}