@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");

#formSec {
    display: grid;
    height: auto;
    padding: 6rem 2rem 2rem;
    background-color: #28282b;
    color:whitesmoke;
    font-family: 'Merriweather', serif;

}

.formDiv {
    display: grid;
    place-items: center;
    padding:4rem 2rem;
    opacity:0.8;
    /* max-width: 768px; */
    /* font-size: medium; */
    margin: auto;
    width:45vw;
    background-color: black;
    border: 2px solid var(--primary-blue)
}


input {
    width: 30vw;
    padding: 8px;
    border-radius: 10px;
    border:1.5px solid var(--primary-blue);
    background-color: black;
    color:white;
    height:40px;
    /* size: 10px; */
}

fieldset {
    margin-top:15px;
    border:0px;
    text-align: center;
    display: grid;
    place-items: center;
    width: 100%;
    height: 5rem;
    overflow: contain;
} 

@media only screen and (max-width: 768px) {
    fieldset {
        max-width: 768px;

    }
    .formDiv{
        /* max-width: 768px; */
        background-color:transparent;
        width:100vw;
        margin:0;
        border:none;
    }
    body{
        background-color: black;;
    }
    input{
        width:60vw;
    }

}

label{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.inner::-webkit-scrollbar {
    display: none;
  }


.content {
    display: -ms-grid;
    display: grid;
    place-items: center;
    /* padding: 0 1em; */
    margin-bottom: 1.8em;
    transform: scale(1.2, 1.1);
}

.formSub {
    margin: 1rem 0;
}

#sub {
    padding: 5px;
    font-family: 'Merriweather', serif;
    width: 200px;
    /* line-height: 90px; */
    color: black;
    background-color: var(--primary-blue);
    border: 2px solid var(--primary-blue);
}

#sub:hover {
    /* background-color: darkcyan; */
    cursor: pointer;
}

.subtitle {
    font-size: 6vh;
}
