.app__activities {
  color: white;
  flex-direction: column;
}

.activities__sliding-carousel{
    /* padding: 0 1rem; */
    scrollbar-width: 0;
    width: 95%;
    /* outline: 2px solid red; */
    border-radius: 5px;
    margin-top: 2rem;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
}

.activity-card{
    /* outline:2px solid white; */
    min-width: 250px;
    height: auto;
    /* margin-bottom: 0; */
    margin: 2rem 1.5rem;
    transition: 0.3s ease-in-out;
}
.activity-card:hover{
    transform: scale(1.03);
}

.activity-card-img{
    width: 100%;
    height: auto;
    border-radius: 5px;

}

/* Hiding horizontal scrollbar */
.activities__sliding-carousel {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.activities__sliding-carousel::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


@media screen and (max-width:1024px){
    .activity-card{
        min-width: 270px;
    }
}
@media screen and (max-width:768px){
    .activity-card{
        min-width: 310px;
    }
}
@media screen and (max-width:425px){
    .activity-card{
        min-width: 350px;
    }

}
@media screen and (max-width:375px){
    .activity-card{
        min-width: 300px;
    }
}
@media screen and (max-width:320px){
    .activity-card{
        min-width: 260px;
    }
}
