body,
html {
  background-color: rgba(6, 12, 26, 0.8);
  display: block !important;
  overflow-x: hidden;
}

.app__container {
  min-height: 100vh;
  width: 100%;
}
.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-text{
  color: white;
  font-family: var(--head-font);
  font-size: 3rem;
  text-align: center;

}
.accent{
  color: aquamarine;
}
.underline{
  text-decoration-line: white;

}
